@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

  .pro-container {
    margin-top: 70px;
    color: #1a202c;
    text-align: left;
} 
  .pro-main-body {
    padding: 35px;
  }
  
  .cardx {
    box-shadow: 10px 5px 5px 5px rgba(8, 0, 0, 0.1),  5px 5px 0 rgba(4, 4, 4, 0.06);
  }
  
  .pro-square-card {
    width: 100%;
    height: 100%;
  }

  hr{
    border-top: 1px solid #6c757d;
  }
  
  .cardx {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f9fafa;
    background-clip: border-box;
    border: 1 solid rgba(0,0,0,.125);
    border-radius: .35rem;
  }
  
  .card-bodyx {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2rem;
  }
  
  .gutters-smx {
    margin-right: -8px;
    margin-left: -8px;
  }
  
  .gutters-smx > .col, .gutters-smx > [class*=colx-] {
    padding-right: 8px;
    padding-left: 8px;
  }
  
  .mbx-3, .my-3 {
    margin-bottom: 1rem !important;
  }
  
  .text-secondary {
    color: #6c757d !important;
  }
  
  .btn-primary, .btn-outline-primary {
    margin-right: 10px;
  }
  
  .profile-image-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .table{
    background-color:#f9fafa;
    border: 2px solid  rgba(0,0,0,.125);;
    border-radius: .35rem;
  }
  
  @media (max-width: 767.98px) {
    .profile-image-container {
      width: 100px;
      height: 100px;
    }
  }
