.outside-container {
  max-width: 600px; /* Reduced max-width for better centering */
  margin: auto;
  padding: 20px;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}


/* Button styling */
.btn-primary {
  width: 50%; 
  max-width: 200px; 
  margin-top: 20px;
  margin-left:200px;
  padding: 8px; 
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align-items: center;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Responsive textarea */
textarea.form-control {
  resize: vertical;
}